# give the state a name
name: example

# the state with the highest index is shown
index: 0

# either a boolean or an eval string returning a boolean
# if the boolean is false the state won't be shown

# available arguments for the check eval function:
# states = { djo: True/False, bitlair: True/False }

check: true

# the command that is ran when the module is enabled
command: perl -e 'while(1){{print "\\x00\\x00\\xff" x 4096}}'

# a python module can also be passed instead of a command
# note that the path is relative to the index python file
# module: "text.py"
